<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
		<add name="StudentInfoDBConnectionString" connectionString="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="StudentFeesDBConnectionString" connectionString="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="ParkingAppDBConnectionString" connectionString="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<appSettings>
		<add key="LIS" value="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True"/>

	</appSettings>

</configuration>
