<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="FLATConnectionString" connectionString="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=FLAT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TRAVEL_RECConnectionString" connectionString="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=TRAVEL_REC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="constr" connectionString="Data Source=DESKTOP-8JQ4ED7\SQLEXPRESS;Initial Catalog=TRAVEL_REC;Integrated Security=true"/>
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>

    <add key="LIS" value="server=DESKTOP-8JQ4ED7\SQLEXPRESS;database=TRAVEL_REC;Integrated Security=true" />
  </appSettings>

</configuration>
